ul.microposts {
	padding: 0;

	li {
		list-style-type: none;
	}
}


.stats {
	margin-top: 32px;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.avatar {
	margin-top: 16px;
}
